body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blusa {
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.cores{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 15px 20px;
}
.tamanho{
    @extend .cores;
}
.filtro{
    @extend .cores;
}
