.ordenar_por {
    display: flex;
    flex-direction: column;
    margin:10%;
    position: fixed;
    top: 15px;
    right: 30px;
    
}

.filtro{
    display: flex;
    
    justify-content: space-between; 
    padding: 5px 1000px 5px 100px; 
}

.contf{
    text-align: center;
}

.produto {
    border: rgb(222, 135, 135);
    padding: 10px 20px;
    align-items:stretch;
    flex-direction: column;
    justify-content: space-between;
    display: flex;

}

    
    
.produtos {
    justify-content: space-between; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 30px 500px 500px 500px;
    
}