.ordenar_por {
    display: flex;
    flex-direction: column;
    margin:10%;
    position: fixed;
    top: 15px;;
    right: 30px;
}

.filtro{
    display: flex;
    position: fixed;
    top: 90px;;
    left: 150px;
    text-align: center;
    
}

