.produto {
    border: rgb(222, 135, 135);
    padding: 10px 20px;
    align-items:stretch;
    flex-direction: column;
    justify-content: space-between;
}
    
    
.produtos {
    justify-content: space-between; 
    max-width: 500px; 
    display: grid;
    align-items: center;
}
